body {
  background-color: #901919;
  text-align: center;
  color: black;
}
.jumbotron {
  background-color: #680202;
  text-align: center;
  font-weight: bold;
  color: black;
}

#orderConfirmation {
  display: none;

}
